spring:
  datasource:
    url: jdbc:mysql://101.42.30.159:3306/mall
    username: root
    password: ${PASSWORD}
mybatis-plus:
  type-aliases-package: top.pi1grim.mall.entity
  configuration:
    map-underscore-to-camel-case: true
cos:
  secret:
    id: ${COS_SECRET_ID}
    key: ${COS_SECRET_KEY}
